# Database Configuration
MONGODB_URI=mongodb+srv://ramyashrie18_db_user:XHQnq4nAJJsPXb65@cluster0.qp2q2c6.mongodb.net/?appName=Cluster0

# Session Secret
SESSION_SECRET=hgshjdsfhkshfkuheksusdkjvjkfvkjsekjheiuejhfj

# Port
PORT=4000

# Frontend URL (for CORS)
FRONTEND_URL=https://your-frontend-url.vercel.app
